/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 500px;

// Small tablets (portrait view)
$screen-md-min: 650px;

$screen-ml-min: 750px;

// Tablets and small desktops
$screen-lg-min: 880px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$primary: #0DE5E8;
$text: #D8D8D8;
