/* =============
    Navigation
============= */
a:hover,
a:link {
    text-decoration: none;
    transition: o.25s;
}


#off-canvas-container{
    /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */

    grid-template-columns: 10px auto;
    grid-template-areas: ". off-canvas";
    background-color: white;
    // padding-top: 20px;

    // width of the off canvas navigation
    width: 30vw;
    min-width: 280px;
    max-width: 400px;


    /* close btn */
    aside{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
          margin-left: -10px;
          background-color: transparent;
          border: none;
          color: black;
          cursor: pointer;
          font-size: rem-calc(25);
          margin-bottom: 20px;
          transition: 0.25s;
      }
    }


    /* close btn */
    button:hover {
        color: $primary;
    }
    nav{



      ul {

          li {
              color: black;
              text-align: left;
              width: 100%;

              >form{
                display: flex;
                justify-content: left;
                >button{
                  width: 40px;
                  background-color: black;
                  color: white;
                  font-size: rem-calc(18px);
                  border: none;
                }
                >input{
                  border: 1px black solid;
                  padding: 8px 5px 5px 4px;
                  &:focus{
                    box-shadow: none;

                  }
                }


              }


              a:link,
              a:visited {
                width: calc(100% - 10px);
                display: inline-block;
                padding-bottom: 5vh;
                padding-top: 5vh;
                border-bottom: 2px solid black;
                color: black;
                font-size: rem-calc(20px);
                font-family: "roc-grotesk-extrawide",sans-serif;

              }

              a:active,
              a:hover {
                  color: $primary;
                  cursor: url("../img/Nav/cursor-arrow2.png"), e-resize;
              }
          }
      }

    }


}


#burger-icon {
    border: none;
    font-size: rem-calc(18);
    outline: none;
    padding: 8px;
    // position: fixed;
    // right: 20px;
    // top: 20px;
    // z-index: 100;
}
